<!doctype html>
<html>
    <head>
        <title>Moon Mosaic</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
        <script>
            $(function() {
                var $textarea = $('#textarea');
                var lineHeight = parseInt($textarea.css('lineHeight'));
                $textarea.on('input', function(e) {
                    var lines = ($(this).val() + '\n').match(/\n/g).length;
                    $(this).height(lineHeight * lines);
                });
            });
        </script>
    </head>
    <body>
    <div class="container">
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                <h1 class="title">月文字</h1>
                <h2 class="subtitle">Moon mosaic</h2>
                </div>
            </div>
        </section>
    </div>
    <div class="container is-fluid">
        <div class="moon is-mobile">
            <form method="post" action="{{ url_for('index')}}">
                <div class="columns is-mobile">
                    <div class="column is-one-quarter">
                    <label class="checkbox">
                        <input type="checkbox" name="vertical" value="{{ params.vertical }}">
                        縦書き
                    </label>                    
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column is-2">
                        <div class="control">
                            <input class="input" type="number" name="pixels" placeholder="ピクセル数" value="{{ params.pixels }}">
                        </div>                    
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column">
                        <div class="control">
                            <input class="input" type="text" name="text" placeholder="ここに入力" value="{{ params.text }}">
                        </div>                    
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column">
                        <button class="button is-dark is-large is-two-thirds" type="submit">実行</button>
                    </div>
                </div>
            </form>
            {% if out %}
            <div class="columns is-mobile ">
                <div class="column">
                    <textarea class="textarea" id="textarea" rows="{{ rows }}" wrap="off" readonly>{{ out }}</textarea>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    </body>
</html>